.venv
.env
__pycache__/
*.pyc
instance/
.DS_Store
.vscode/
logs/
*.log
coverage/
htmlcov/
.env.local
.env.*.local
celerybeat-schedule
.pytest_cache/
.idea/
*.iml
*.sqlite3
*.db
npm-debug.log*
yarn-debug.log*